@import url("CSS/layout-desktop.css");

@media (max-width: 614px) {
  .sidebar,
  .stories .arrow,
  .meio,
  .borda-vert,
  .head-um {
    display: none !important;
  }
  .head-2 {
    display: flex;
  }
  .corpo {
    display: flex;
    justify-content: center;
  }
  .body,
  .fundo,
  .corpo,
  .stories,
  .story-container,
  .posts,
  .imgs,
  .main,
  .story,
  .imgs img,
  .img-perfil,
  .container-posts,
  .arroba,
  .foto {
    width: 100%;
  }
  .imgs,
  .imgs img {
    height: auto;
  }
  .stories {
    margin-top: 50px;
    box-shadow: none;
    margin-bottom: -1px;
  }
  .logo img {
    text-align: center;
    margin: 0 auto;
  }
  .barra-inferior {
    display: flex;
  }
  .foto .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100000;
  }
  body {
    margin-bottom: 50px;
  }
}
