* {
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA;
    font-family: 'Roboto';
    font-style: normal;
}

.head {
    margin: 0 auto;
    height: 54px;
    width: 935px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fundo {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 99999;
}



.canto-esquerdo {
    height: auto;
    display: flex;
    gap: 10px;
}

.icones-direita {
    display: flex;
    gap: 20px;
}

.borda-vert {
    height: 22px;
    border: 1px solid #DBDBDB;  
}

input[type="search"] {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    text-align: center;
}

ion-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.logo {
    height: 29px;
    width: 103px;
}

.corpo {
    width: 935px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.main {
    height: 100%;
    width: 615px;
}

.stories {
    background-color: #FFFFFF;
    margin-top:84px;
    width: 614px;
    height: 118px;
    border: 1px #DBDBDB solid;
    border-radius: 3px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 10px -3px rgb(169, 169, 169);
}

.story-container {
    width: 614px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 10px;
}

.arroba {
    width: 90%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    display: flex;
    justify-content: center;
}

.story {
    position: relative;
    height: 66px;
    cursor: pointer;
}

.background-story{
    width: 66px;
    height: 66px;
    border-radius: 33px;
    position: absolute;  
    z-index: 1;
}

.img-story {
    margin-left: 5px;
    margin-top: 5px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: absolute; 
    z-index: 2;
}

.arrow ion-icon {
    color: #FFFFFF;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-posts {
    
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.posts {
    background-color: #FFFFFF;
    width: 612px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.img-perfil > img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin: 15px;
    margin-left: 17px;
}

.identificacao-perfil {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.identificacao-perfil > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    width: 80px;
}

.top {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 420px;
}

.imgs  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 612px;
    height: 612px;
    position: relative;
}

.posicao-container {
    position: absolute;
    display: flex;
    margin-bottom: 20px;
}

.posicao-item {
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 5px;
    cursor: pointer;
}
.posicao-item.ativo {
    background-color: #ccc;
}

.imgs  img  {
    height: 612px;
}

.foto {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}
.icones-post {
    margin: 13px 17px;
    display: flex;
    justify-content: space-between;
}

.sidebar{
    margin-top: 90px;
    width: 293px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.my-profile > img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.my-profile {
    display: flex;
    gap: 17px;
    height: 56px;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
}

.ident h1 {
    font-weight: 600;
    color: #262626;
    font-size: 14px;
    margin-bottom: 5px;
}

.ident h2 {
    font-weight: 300;
    color: #8E8E8E;
    font-size: 14px;
}

.sidebar h6 {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.configuracoes {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.container-sugestoes {
    display: flex;
    justify-content: space-between;
}

.container-perfis {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.perfis {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-sugestoes h1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.container-sugestoes h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    margin-bottom: 15px;
}

.perfil-sidebar img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.perfil-sidebar {
    display: flex;
    gap: 11px;
}

.perfil-sidebar h1 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;    
    color: #262626;
}

.perfil-sidebar h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.seguir p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
    cursor: pointer;
}



a {text-decoration: none; color: black;}