.borda-head{
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 34px;
}

.head {
    margin: 0 auto;
    height: 54px;
    width: 935px;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.canto-esquerdo {
    height: auto;
    display: flex;
    gap: 0px 10px;
}
.icones-direita {
    display: flex;
    gap: 0px 20px;
}
.borda-vert {
    height: 22px;
    border: 1px solid #DBDBDB;
    
}

input[type="search"] {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    text-align: center;
}

ion-icon {
    width: 22px;
    height: 22px;
}

.logo {
    height: 29px;
    width: 103px;
}
.corpo {
    width: 935px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
}
.main {
    height: 2000px;
    width: 615px;
    background-color: cyan;
}
.stories {
    width: 614px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: 1px #DBDBDB solid;
    border-radius: 3px;

}

.posts {
    background-color: aquamarine;
    width: 614px;
    height: 1000px;
}

.background-story{
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.img-story {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.sidebar{
    width: 295px;
    background-color: red;
    display: flex;
}
a {text-decoration: none; color: black;}